.schedule {
    border: 3px solid white;
    min-width: 90vw;
    height: 70vh;
    color: white;
    overflow: auto;
    position: relative;

    &__edit {
        &__button {
            display: none;
            &.active {
                cursor: pointer;
                // color: pink;
                color: lightskyblue;
                font-size: 2rem;
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid white;
                background: none;
                position: absolute;
                top: 20px;
                right: 30px;
                svg {
                    width: 40%;
                    height: 40% ;
                    fill: white;
                }
            }
        }
    }

    &__inner {
        padding: 20px;

        &__time {
            font-size: 3rem;
            font-weight: bold;
            position: relative;
            padding-bottom: 5px;
            &:after {
                content: '';
                height: 3px;
                width: 90px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: white;
            }
        }

        &__title {
            font-size: 2.5rem;
            font-weight: bold;
            margin-top: 10px;
        }

        &__bullets {
            padding: 20px 30px;
            &__item {
                &:not(:first-child) {
                    margin: 10px 0;
                }
            }
        }
    }
}