.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-bottom: 100px;
}

#loader-wrapper {
    display: none;
    &.active {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.5);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.login {
    &__title {
        text-align: center;
        margin-top: 30px;
        font-size: 1.75rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 30px auto 0;
        input {
            border: none;
            background: none;
            border-bottom: 1px solid white;
            margin: 20px 0;
            padding: 5px 0;
            color: white;
            width: 100%;
            &::placeholder {
                color: white;
                opacity: .7;
            }
        }
        button {
            background: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            margin-top: 40px;
            cursor: pointer;
        }
        &__link {
            color: rgb(9, 82, 128);
            text-decoration: none;
        }
    }
    img {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 30%;
    }
    
}