.login {
    &__title {
        text-align: center;
        margin-top: 30px;
        font-size: 1.75rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 30px auto 0;
        input {
            border: none;
            background: none;
            border-bottom: 1px solid white;
            margin: 20px 0;
            padding: 5px 0;
            color: white;
            width: 100%;
            &::placeholder {
                color: white;
                opacity: .7;
            }
        }
        button {
            background: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            margin-top: 40px;
            cursor: pointer;
        }
        &__link {
            color: rgb(9, 82, 128);
            text-decoration: none;
        }
    }
    img {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 30%;
    }

}