@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.login {
    display: flex;
    > div {
        flex: 1;
        user-select: none;
    }
    &__info {
        position: relative;

        &__absolute {
            font-size: 7rem;
            font-weight: bold;
            text-transform: uppercase;
            opacity: .2;
            user-select: none;
            line-height: 1.7;
            position: absolute;
            
            &.rotina {
                top: 11%;
                left: 5%;
            }
            &.escolar {
                top: 42%;
                left: 22%;
            }
        }
        &__title {
            font-size: 3rem;
            color: white;
            letter-spacing: 1.5px;
            margin: 40px auto 0;
            text-align: center;
        }

        &__inner {
            display: flex;
            align-items: center;
            margin: 120px 0;

            &__description {
                flex: 1;
                margin-left: 100px;
                text-align: center;
                font-size: 1.5rem;
            }
            
            &__square {
                margin-left: auto;
                width: 100px;
                border: 15px solid white;
                border-right: none;
            }
        }

        &__img {
            width: 320px;
            margin: 90px auto 20px;
            display: block;
        }

        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    &__sign {
        background: white;
        height: 100vh;
        overflow: auto;

        &__square {            
            margin: 40px auto 50px;
        }
        &__title {
            text-align: center;
            margin-top: 30px;
            font-size: 2.5rem;
            color: lightskyblue;
        }
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;
            margin: 30px auto 0;
            input {
                border: none;
                background: none;
                border-bottom: 1px solid lightskyblue;
                margin: 30px 0;
                padding: 5px 0;
                color: #095280;
                width: 100%;
                &::placeholder {
                    color: lightskyblue;
                    opacity: .7;
                }
            }
            button {
                border: 2px solid lightskyblue;
                padding: 10px 20px;
                width: 100%;
                font-size: 1.25rem;
                // border-radius: 4px;
                margin: 30px 0 20px;
                cursor: pointer;
                color: lightskyblue;
            }
            &__link {
                color: #095280;
                text-decoration: none;
                margin-bottom: 100px;
            }
        }
    }
}