.dashboard {
    padding: 4% 5%;
    height: 100vh;
    width: 100vw;

    &__add {
        &__button.clip {
            position: absolute;
            bottom: 30px;
            right: 30px;
            border-radius: 4px;
            height: 70px;
            clip-path: circle(20% at 83% 39%);
            transition: all .3s ease-in-out;
            cursor: pointer;
            z-index: 5;

            &:hover {
                clip-path: circle(100%);
            }
            
            span {
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: white;
                font-size: 1.75rem;
                float: right;
                color: lightskyblue;
                transition: color .5s;
                position: relative;
                margin-right: 4%;
                margin-top: 1%;
            }

            p {
                margin: 7px 20px 0 0;
                color: white;
            }
        }
        &__button:not(.clip) {
            display: none;
            &.active {
                z-index: 5;
                cursor: pointer;
                // color: pink;
                color: lightskyblue;
                font-size: 2rem;
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 3px solid white;
                background: white;
                position: absolute;
                bottom: 30px;
                right: 30px;
            }
        }
    }

    &__logout button{
        z-index: 5;
        cursor: pointer;
        color: rgb(221, 123, 142);
        position: absolute;
        bottom: 30px;
        left: 30px;
        background: none;
        border: none;
        font-size: 1rem;
        text-transform: uppercase;
    }

    &__slider {
        // display: flex;
        // flex-direction: row;
        // overflow: hidden;
        height: 95vh;

        &::-webkit-scrollbar {
            display: none;
        }
        
        &__item {
            // margin-right: 10%;
            height: 95vh;

            &__lastSlide {
                // min-width: 90vw;
                height: 60vh;
                color: white;
                overflow: auto;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                &__title {
                    margin-bottom: 20px;
                    font-size: 2rem;
                }
                &__image {
                    width: 20%;
                    min-width: 200px;
                    margin-top: 40px;
                    margin-bottom: -50px;
                }
                &__cta {
                    text-align: center;
                    &__button {
                        cursor: pointer;
                        background: none;
                        // color: pink;
                        color: lightskyblue;
                        font-size: 2rem;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        margin: 0 auto;
                        justify-content: center;
                        border-radius: 50%;
                        border: 3px solid white;
                        margin-top: 30px;
                        background: white;
                    }
                }
            }
        }

        
    }


    .carousel__slider {
        height: 90vh;
    }
    .carousel__inner-slide {
        padding: 0 30px;
    }
    .carousel__dot-group {
        position: absolute;
        bottom: 2.5%;
        left: 50%;
        transform: translateX(-50%);
        .carousel__dot {
            cursor: pointer;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            border: none;
            // background: #dd7385;
            background: #467b9c;
            margin: 0 5px;
            &--selected {
                // background: #5c3037;
                background: #1b303d;
            }
        }
    }

    &__controls {
        display: flex;
        position: absolute;
        bottom: 2.5%;
        left: 50%;
        transform: translateX(-50%);
        &__item {
            display: block;
            cursor: pointer;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            // background: #dd7385;
            background: #467b9c;
            margin: 0 5px;
            &.active {
                // background: #5c3037;
                background: #1b303d;
            }
        }
    }
}