.edit {
    padding: 30px;
    display: flex;
    flex-direction: column;

    img {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 15%;
    }
    
    &__title {
        text-align: center;
        font-size: 2rem;
    }

    .react-datepicker-wrapper {
        text-align: center;
    }
    
    &__returnBtn {
        color: white;
        position: absolute;
        top: 3%;
        left: 2%;
        @media screen and (max-width: 767px) {
            bottom: 3%;
            left: 5%;
            top: initial;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 30px 0 0;

        input {
            background: none;
            border: none;
            border-bottom: 1px solid white;
            color: white;
            margin: 10px auto;
            padding: 5px 0;
            width: 80%;
            max-width: 800px;

            &::placeholder {
                color: white;
                opacity: .7;
            }
        }

        button[type=submit] {
            width: 40%;
            max-width: 400px;
            height: 50px;
            color: white;
            cursor: pointer;
            font-size: 1.25rem;
            margin: 50px auto 0;
            border: 1px solid white;
            background: none;
        }
    }
}