@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    outline: none;
    text-decoration: none;
}

.app {
    // background: #ffc0cb;
    background: #87cefa;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.mobile-hide {
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.square {
    display: block;
    height: 100px;
    width: 100px;
    &-blue {
        border: 10px solid lightskyblue;
    }
    &-white {
        border: 10px solid white;
    }
}

#loader-wrapper {
    display: none;
    &.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background: rgba(0,0,0,0.2);

        > div {
            background: rgb(67, 67, 80);
            height: 10px;
            clip-path: inset(0% 100% 0% 0%);
            transition: clip-path 6s ease-in-out;
            animation: loader 1s infinite ease-in-out;
        }        
    }
}


@keyframes loader {
    0% {
        clip-path: inset(0% 100% 0% 0%);
    }
    50% {
        clip-path: inset(0% 20% 0% 30%);
    }
    100% {
        clip-path: inset(0% 0% 0% 100%);
    }
}
